.header {
  height: 20%;
}
.bg-img-div {
  overflow: hidden;
  position: absolute;
  width: 30vw;
  height: 9vw;
  top: 0;
}
.bg-img {
  position: relative;
  z-index: -2;
  filter: blur(8px);
  width: 40vw;
  top: -15vw;
  left: -3vw;
}
.color-layer {
  position: relative;
  z-index: -1;
  width: 30vw;
  height: 10vw;
  top: -8vw;
  opacity: 0.3;
}
.logo-img {
  position: relative;
  display: block;
  width: 20%;
  margin: auto;
  border: 2px solid #80808080;
}
